/* DIV =  */ 
div {
    width: 400px;
    margin: 60px auto;
    margin-top: 150px;
}

/* Campos de preenchimento */
input {
    margin-bottom: 10px;
}

/* Botões */

#btnAlterar,
#btnExcluir {
    display: none;
}